main {
  @apply max-w-3xl mx-auto p-6;
}

article {
  @apply space-y-8;
}


header {
  @apply space-y-2;
}

section {
  @apply space-y-2;
}

section {
  @apply bg-surface rounded-xl p-6 shadow-lg;
}

h1 {
  @apply text-primary text-3xl font-bold;
}

h2 {
  @apply text-accent text-xl mt-4;
}

p {
  @apply text-text leading-relaxed;
}
